<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>About Us</title>
      <!-- Bootstrap -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Mate+SC" rel="stylesheet">
      <!-- CSS Page -->
      <link rel="stylesheet" type="text/css" href="../public/CSS/style.css">
      <link rel="stylesheet" type="text/css" href="../public/CSS/contactus.css">
   </head>

   <body id="about-body">
      <div>
         <nav id="nb" class="navbar navbar-default">
            <div class="container-fluid">
               <!-- <a class="navbar-brand" href="#"></a> -->
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/team">Team</a></li>
                  <li><a href="#">Log Out</a></li>
               </ul>
            </div>
         </nav>
      </div>
      <div class= "row">
         <div class= "col-md-12">
            <div class="about-middle">
               <div class="about-bio">
                  <p> At eNumerate, we are committed to storing information about your valuables and possessions in a safe and convenient place. We know having your items in a safetybox is just as important but so is orgnizing it. You can use eNumerate to keep track the number of items you have, add new items, upload important documents like house insurace to have on hand electronically, or even delete item posts if they are no longer relevant in your life. We hope this system will help you organize your possessions with a peace mind.</p>
               </div>
            </div>
         </div>
      </div>
      </div>
   </body>
</html>