<!DOCTYPE html>
<html>
<head>
	<title>Team Page</title>
		<!-- Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- /Bootstrap -->

      <!-- Google Fonts -->
       <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		
		<!-- CSS Page -->
		<link rel="stylesheet" type="text/css" href="../public/CSS/contactus.css">
		<link rel="stylesheet" type="text/css" href="../public/CSS/style.css">
</head>

 <body id="team-body">

   <div>  
   <nav id="nb" class="navbar navbar-default">
      <div class="container-fluid">
         
             <!-- <a class="navbar-brand" href="#"></a> -->
     
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="#">Log Out</a></li>
            </ul>
               
                  


      </div>
   </nav>
  </div>


      <div class= "row">
         <div class= "col-md-12">
        <div class= "middle-about">
            <div class="team-container-about">
               <div class="about-content">
                  <p> Team Python</p>
               </div>
               <div class="about-story">
                  <p>Hello! This is pretty much an irrelevant page to this website, but hey, at least you get to learn a little something about us.</p>
               </div>
               <div class="card-container-bios">
               <div class="card-lisa-container">
                  <div class="card-lisa">
                     <div class="front-lisa"><img src="../public/Images/lisa-pic.jpg" style="width:250px ;height:250px">
                     </div>
                     <div class="back-lisa">Lisa, scuba diving enthusiast.</div>
                  </div>
                  </div>
                  <div class="card-ed-container">
                  <div class="card-ed">
                     <div class="front-ed"><img src="../public/Images/ed-pic.jpg" style="width:250px ;height:250px"></div>
                     <div class="back-ed">Ed, raised by a pack wild pug puppies.</div>
                  </div>
                  </div>
                  <div class="card-michael-container">
                  <div class="card-michael">
                     <div class="front-michael"><img src="../public/Images/mike-pic.jpg" style="width:250px ;height:250px">
                     </div>
                     <div class="back-michael">Michael, favorite food is peanut butter.</div>
                  </div>
                  </div>
                  <div class="card-laura-container">
                  <div class="card-laura">
                     <div class="front-laura"><img src="../public/Images/laura-pic.jpg" style="width:250px ;height:250px">
                     </div>
                     <div class="back-laura"> Laura, absolutely dislikes humid weather.</div>
                  </div>
                </div>
                </div>
         </div>
         </div>
      </div>
      </div>
      
   </body>
</html>